/*Universal*/
body{
    font-family: "Manrope","Libre Franklin", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}

button{
    background-image: linear-gradient(#003AD3, #0F276A);
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-family: "Manrope", sans-serif;
}


.thumbnail {
    width: 250px;
}
button:hover{
    background-image: linear-gradient(#0F276A, #003AD3);
}

.close{
    background-image: none;
    color: black;
}

a{
    color: #336A63;
}

a:hover{
    color: #336A63;
}

/*Outlines*/
.container{
    outline: solid red 1px;
}

.row{
    outline: solid orange 1px;
}

.column{
    outline: solid yellow 1px;
}

.navContact{
    text-align: right;
}

/*Jumbotron*/
.carousel-item {
    width: 100%;
    height: 650px;
    align-items: center;
}



/* example of box-sizing override for embeds
.selector-for-some-widget {
    box-sizing: content-box;
  } */