.container{
    outline: solid red 1px;
}

.body {
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-weight: 400 ;
    font-size: 36px;
}

h2 {
    font-weight: 300;
    font-size: 24px;
}

.row{
    outline: solid orange 1px;
}

.column{
    outline: solid yellow 1px;
}

.navContact{
    text-align: right;
}


/* example of box-sizing override for embeds
.selector-for-some-widget {
    box-sizing: content-box;
  } */