/*Universal*/
body{
    font-family: "Manrope","Libre Franklin", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}

h5 {
    font-size: 32px;
    color: #336A63;
    font-weight: 600;
}

.caption {
    font-size: 20px;
}

button{
    background-image: linear-gradient(#003AD3, #0F276A);
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-family: "Manrope", sans-serif;
}
button:hover{
    background-image: linear-gradient(#0F276A, #003AD3);
}

.thumbnail {
    width: 300px;
    height: 250px;
}

a{
    color: #349D93;
}
a:hover{
    color: #336A63;
}

.icon{
    height: auto;
    width: 35px;
}

.bolded{
    font-weight: bold;
}

.padR{
    padding-right: 8px;
}

/*Outlines
.container{
    outline: solid red 1px;
}

.row{
    outline: solid orange 1px;
}

.column{
    outline: solid yellow 1px;
}
*/

/*Navbar*/
.navContact{
    text-align: right;
    font-size: 22px;
}

.collapse{
    margin-top: 20px;
}

/*Alert*/
.close{
    background-image: none;
    color: black;
}

.close:hover{
    background-image: none;
    color: black;
}

/*Jumbotron*/
.carousel-item, .carousel-inner {
    max-height: 700px;
    margin-bottom: 20px;
}

.carousel-caption{
    background-color: rgba(150, 150, 150, 0.8);
}

#carouselExampleCaptions ul{
    list-style-type: none;
}

/*Content*/
.missionHead{
    padding-top: 20px;
    padding-bottom: 5px;
}

.spaceB{
    margin-bottom: 20px;
}

/*Footer*/
footer{
    margin-top: 20px;
    background-color:rgba(150, 150, 150, 0.3);
    padding-top: 20px;
}

footer a{
    color: black;
}

.foot{
    text-align: center;
}

.footHead{
    font-weight: bold;
}

.footList{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.address{
    padding: 20px;
}


/* example of box-sizing override for embeds
.selector-for-some-widget {
    box-sizing: content-box;
  } */